
/* MEDIA */
@media  (min-width:768px) and (max-width:1023px){
    .con .conHi{
        height: 780px;
    }
    .con .conHi img{
        width: 65%;
        object-position: 0 -30%;
        left: 34%;
    }
    .con .conHi div{
        right: 50%;
    }
    .con .conHi div b{
        font-size: 50px;
    }
    .con .conHi div p,.con .conHi div p b{
        font-size: 40px;
    }
    .con .conHi div h5,.con .conHi div h5 b {
        font-size: 30px;
    }
    .con .conHi div a{
        font-size: 15px;
        border: #001f40 solid 2px;
    }
    
    /* ABOUT ME */
    .con .conMe{
        height: 780px;
        width: 100%;
    }
    .con .conMe b{
        bottom: 85%;
    }
    .con .conMe img{
        width: 180px;
        height: 320px;
        left: 25%;
    }
    .con .conMe .box div{
        left: 50%;
    }
    .con .conMe .box div span ,.con .conMe .box div p{
        font-size: 14.5PX;
    }

    /* EDUCATION */
    .con .conEdu{
        height: 600px;
    }
    .con .conEdu h3{
        font-size: 50px;
        left: 60%;
    }
    .con .conEdu img{
        width: 70px;
        height: 70px;
    }
    .con .conEdu .box div b{
        font-size: 25px;
    }
    .con .conEdu .box div p{
        font-size: 18px;
    }
    .con .conEdu .box{
        margin: 40px 0;
    }

    /* SOP */
    .con .conSOP{
        height: 200px;
    }
    .con .conSOP b{
        font-size: 30px;
    }
    .con .conSOP a{
        font-size: 15px;
        padding: 0px 25px;
    }
    .con .conSOP a:hover{
        padding: 0px 40px;
    }
    .con .conSOP .boxEdg b{
        font-size: 25px;
    }
    .con .conSOP .boxEdg strong{
        font-size: 20PX;
    }

    /* PORTFOLIO */
    .con .conPort{
        height: 800px;
    }
    .con .conPort b{
        font-size: 70px;
    }
    .con .conPort a{
        box-shadow: #5c5c5c 0 0 20px 2px;
        background-color: #5c5c5c;
        transition: .75s;
        color:  white;
        font-size: 14px;
    }

    /* COMMENT */
    .con .conCom div b{
        font-size: 40px;
    }
    .con .conCom div p{
        font-size: 15px;
    }
    /* CONCONTACT */
    .conContact .box_1 b{
        font-size: 25px;
    }
    .conContact .box_1 .text_1{
        font-size: 17px;
    }
    .conContact .box_1 .text_2{
        font-size: 11px;
    }
    .conContact .box_2 b{
        font-size: 20px;
    }
    .conContact .box_2 a{
        font-size: 13px;
    }
    .conContact .box_3 b{
        font-size: 17px;
    }
    .conContact .box_3 a{
        font-size: 13px;
    }
}


@media  (min-width:426px) and (max-width:767px){
    .con .conHi{
        height: 780px;
    }
    .con .conHi img{
        width: 70%;
        object-position: 0 -30%;
        left: 30%;
    }
    .con .conHi div{
        right: 50%;
        top: 13%;
    }
    .con .conHi div b{
        font-size: 40px;
    }
    .con .conHi div p,.con .conHi div p b{
        font-size: 35px;
    }
    .con .conHi div h5,.con .conHi div h5 b {
        font-size: 27px;
    }
    .con .conHi div a{
        font-size: 12px;
        margin-top: 5px;
        border: #001f40 solid 2px;
    }
    
    /* ABOUT ME */
    .con .conMe{
        height: 780px;
        width: 100%;
    }
    .con .conMe b{
        bottom: 85%;
    }
    .con .conMe img{
        width: 150px;
        height: 250px;
        left: 20%;
    }
    .con .conMe .box div{
        left: 50%;
    }
    .con .conMe .box div span ,.con .conMe .box div p{
        font-size: 12PX;
    }

    /* EDUCATION */
    .con .conEdu{
        height: 600px;
    }
    .con .conEdu h3{
        font-size: 40px;
        left: 60%;
        bottom: 80%;
    }
    .con .conEdu img{
        width: 60px;
        height: 60px;
    }
    .con .conEdu .box div b{
        font-size: 18px;
    }
    .con .conEdu .box div p{
        font-size: 15px;
    }
    .con .conEdu .box{
        margin: 35px 0;
    }

    /* SOP */
    .con .conSOP{
        height: 200px;
    }
    .con .conSOP b{
        font-size: 15px;
    }
    .con .conSOP a{
        font-size: 13px;
        padding: 0px 25px;
    }
    .con .conSOP a:hover{
        padding: 0px 40px;
    }
    .con .conSOP .boxEdg b{
        font-size: 15px;
    }
    .con .conSOP .boxEdg strong{
        font-size: 13PX;
    }
    .con .conSOP .boxEdg a{
        margin-top: 0px;
    }

    /* PORTFOLIO */
    .con .conPort{
        height: 800px;
    }
    .con .conPort b{
        font-size: 70px;
    }
    .con .conPort a{
        box-shadow: #5c5c5c 0 0 20px 2px;
        background-color: #5c5c5c;
        transition: .75s;
        color:  white;
        font-size: 14px;
    }

    /* COMMENT */
    .con .conCom div b{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .con .conCom div p{
        font-size: 13px;
    }
    .con .conCom div form input[type="text"]{
        font-size: 15px;
        height: 33px;
    }
    .con .conCom div form textarea{
        font-size: 12px;
        height: 70px;
    }
    .con .conCom div form input[type="submit"]{
        font-size: 12px;
        height: 35px;
        border: solid 3px #001f40;
        margin-top: 10px;
    }
    .con .conCom div form .warning{
        font-size: 10px;
    }
    .con .conCom div{
        width: 350px;
    }

    /* CONCONTACT */
    .conContact .box_1 b{
        font-size: 22px;
    }
    .conContact .box_1 .text_1{
        font-size: 14px;
    }
    .conContact .box_1 .text_2{
        font-size: 8px;
    }
    .conContact .box_2 b{
        font-size: 17px;
    }
    .conContact .box_2 a{
        font-size: 9px;
    }
    .conContact .box_3 b{
        font-size: 14px;
    }
    .conContact .box_3 a{
        font-size: 9px;
    }
}

@media  (min-width:426px) and (max-width:600px){
    .con .conHi div{
        right: 45%;
        top: 13%;
    }
    .con .conHi div b{
        font-size: 32px;
    }
    .con .conHi div p,.con .conHi div p b{
        font-size: 30px;
    }
    .con .conHi div h5,.con .conHi div h5 b {
        font-size: 20px;
    }
    .con .conHi div a{
        font-size: 10px;
        margin-top: 5px;
        border: #001f40 solid 2px;
    }
    
    /* EDUCATION */
    .con .conEdu h3{
        font-size: 30px;
        left: 60%;
        bottom: 80%;
    }
    .con .conEdu .box{
        margin: 20px 0;
    }
    .con .conEdu img{
        width: 55px;
        height: 55px;
    }
    .con .conEdu .box div b{
        font-size: 16px;
    }
    .con .conEdu .box div p{
        font-size: 15px;
    }

    /* ABOUT ME */
    .con .conMe b{
        bottom: 85%;
        font-size: 30px;
    }
    .con .conMe img{
        width: 130px;
        height: 230px;
        left: 17%;
    }
    .con .conMe .box div{
        left: 50%;
    }
    .con .conMe .box div span ,.con .conMe .box div p{
        font-size: 10PX;
    }

    /* PORTFOLIO */
    .con .conPort{
        height: 800px;
    }
    .con .conPort b{
        font-size: 50px;
    }
    .con .conPort a{
        box-shadow: #5c5c5c 0 0 20px 2px;
        background-color: #5c5c5c;
        transition: .75s;
        color:  white;
        font-size: 14px;
    }

     /* CONCONTACT */
    .conContact .box_1 b{
        font-size: 18px;
    }
    .conContact .box_1 .text_1{
        font-size: 12px;
    }
    .conContact .box_1 .text_2{
        font-size: 6px;
    }
    .conContact .box_2 b{
        font-size: 12px;
    }
    .conContact .box_2 a{
        font-size: 6px;
    }
    .conContact .box_3 b{
        font-size: 12px;
    }
    .conContact .box_3 a{
        font-size: 9px;
    }

}

@media  (max-width:426px){
    .con .conHi{
        height: 720px;
    }
    .con .conHi img{
        width: 70%;
        object-position: 0 -30%;
        left: 30%;
    }
    .con .conHi div{
        right: 45%;
        top: 13%;
    }
    .con .conHi div b{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .con .conHi div p,.con .conHi div p b{
        font-size: 27px;
    }
    .con .conHi div h5,.con .conHi div h5 b {
        font-size: 20px;
    }
    .con .conHi div a{
        font-size: 8px;
        margin-top: 5px;
        border: #001f40 solid 2px;
    }
    
    /* ABOUT ME */
    .con .conMe{
        height: 720px;
        width: 100%;
    }
    .con .conMe b{
        bottom: 85%;
    }
    .con .conMe img{
        width: 140px;
        height: 230px;
        left: 10%;
    }
    .con .conMe .box div{
        left: 50%;
    }
    .con .conMe .box div span ,.con .conMe .box div p{
        font-size: 10PX;
        /* margin-left: 0px !important; */
    }

    /* EDUCATION */
    .con .conEdu{
        height: 500px;
    }
    .con .conEdu h3{
        font-size: 30px;
        left: 60%;
        bottom: 85%;
    }
    .con .conEdu img{
        width: 50px;
        height: 50px;
    }
    .con .conEdu .box{
        margin: 20px 0;
    }
    .con .conEdu .box div b{
        font-size: 15px;
    }
    .con .conEdu .box div p{
        font-size: 13px;
    }
    .con .conEdu .box{
        margin: 30px 0;
    }

    /* SOP */
    .con .conSOP{
        height: 180px;
    }
    .con .conSOP b{
        font-size:15px;
    }
    .con .conSOP a{
        font-size: 12px;
        padding: 0px 25px;
    }
    .con .conSOP a:hover{
        padding: 0px 40px;
    }
    .con .conSOP .boxEdg b{
        font-size: 14px;
    }
    .con .conSOP .boxEdg strong{
        font-size: 12PX;
    }
    .con .conSOP .boxEdg a{
        margin-top: 0px;
    }

    /* PORTFOLIO */
    .con .conPort{
        height: 660px;
    }
    .con .conPort b{
        font-size: 60px;
    }
    .con .conPort a{
        font-size: 13px;
        box-shadow: black 0 0 20px 2px;
        background-color: black;
        color:  white;
    }

    /* COMMENT */
    .con .conCom div b{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .con .conCom div p{
        font-size: 10px;
    }
    .con .conCom div form p{
        font-size: 12px;
        font-weight: 700;
        color: black;
    }
    .con .conCom div form input[type="text"]{
        font-size: 12px;
        height: 27px;
    }
    .con .conCom div form textarea{
        font-size: 12px;
        height: 70px;
    }
    .con .conCom div form input[type="submit"]{
        font-size: 11px;
        height: 25px;
        border: solid 3px #001f40;
        margin-top: 10px;
    }
    .con .conCom div form .warning{
        font-size: 7.5px;
    }
    .con .conCom div{
        width: 270px;
    }

    /* CONCONTACT */
    .conContact .box_1 b{
        font-size: 17px;
    }
    .conContact .box_1 .text_1{
        font-size: 9px;
    }
    .conContact .box_1 .text_2{
        font-size: 3px;
    }
    .conContact .box_2 b{
        font-size: 10px;
    }
    .conContact .box_2 a{
        font-size: 5px;
    }
    .conContact .box_3 b{
        font-size: 10px;
    }
    .conContact .box_3 a{
        font-size: 5px;
    }
}

@media  (max-width:376px){
    .con .conHi{
        height: 650px;
    }
    .con .conHi img{
        width: 80%;
        object-position: 0 -30%;
        left: 20%;
    }
    .con .conHi div{
        right: 45%;
        top: 13%;
    }
    .con .conHi div b{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .con .conHi div p,.con .conHi div p b{
        font-size: 23px;
    }
    .con .conHi div h5,.con .conHi div h5 b {
        font-size: 16px;
    }
    .con .conHi div a{
        font-size: 8.5px;
        margin-top: 5px;
        border: #001f40 solid 2px;
    }
    
    /* ABOUT ME */
    .con .conMe{
        height: 640px;
        width: 100%;
    }
    .con .conMe b{
        bottom: 90%;
        font-size: 20px;
    }
    .con .conMe img{
        width: 110px;
        height: 200px;
        left: 10%;
    }
    .con .conMe .box div{
        left: 50%;
    }
    .con .conMe .box div span ,.con .conMe .box div p{
        font-size: 10PX;
        margin-left: 0px !important;
    }

    /* EDUCATION */
    .con .conEdu{
        height: 400px;
    }
    .con .conEdu h3{
        font-size: 25px;
        left: 60%;
        bottom: 85%;
    }
    .con .conEdu img{
        width: 45px;
        height: 45px;
    }
    .con .conEdu .box{
        margin: 20px 0;
    }
    .con .conEdu .box div b{
        font-size: 11.5px;
    }
    .con .conEdu .box div p{
        font-size: 10px;
    }

    /* SOP */
    .con .conSOP{
        height: 220px;
        flex-direction: column;
    }
    .con .conSOP b{
        font-size: 20px;
    }
    .con .conSOP a{
        font-size: 11px;
        padding: 0px 25px;
    }
    .con .conSOP a:hover{
        padding: 0px 40px;
    }
    .con .conSOP .boxSop{
        height: 110px;
        width: 100%;
    }
    .con .conSOP .boxEdg{
        height: 110px;
        width: 100%;
    }
    .con .conSOP .boxEdg b{
        font-size: 20px;
    }
    .con .conSOP .boxEdg strong{
        font-size: 13PX;
    }
    .con .conSOP .boxEdg a{
        margin-top: 0px;
    }

    /* PORTFOLIO */
    .con .conPort{
        height: 660px;
    }
    .con .conPort b{
        font-size: 55px;
    }
    .con .conPort a{
        font-size: 17px;
    }

    /* COMMENT */
    .con .conCom div b{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .con .conCom div p{
        font-size: 10px;
    }
    .con .conCom div form p{
        font-size: 12px;
        font-weight: 700;
        color: black;
    }
    .con .conCom div form input[type="text"]{
        font-size: 12px;
        height: 27px;
    }
    .con .conCom div form textarea{
        font-size: 12px;
        height: 70px;
    }
    .con .conCom div form input[type="submit"]{
        font-size: 11px;
        height: 25px;
        border: solid 3px #001f40;
        margin-top: 10px;
    }
    .con .conCom div form .warning{
        font-size: 7.5px;
    }
    .con .conCom div{
        width: 270px;
    }

    /* CONCONTACT */
    .conContact .box_1 b{
        font-size: 15px;
    }
    .conContact .box_1 .text_1{
        font-size: 9px;
    }
    .conContact .box_1 .text_2{
        font-size: 3px;
    }
    .conContact .box_2 b{
        font-size: 10px;
    }
    .conContact .box_2 a{
        font-size: 5px;
    }
    .conContact .box_3 b{
        font-size: 10px;
    }
    .conContact .box_3 a{
        font-size: 5px;
    }
}

@media  (max-width:321px){
    .con .conHi{
        height: 650px;
    }
    .con .conHi img{
        width: 80%;
        object-position: 0 -30%;
        left: 20%;
    }
    .con .conHi div{
        right: 40%;
        top: 13%;
    }
    .con .conHi div b{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .con .conHi div p,.con .conHi div p b{
        font-size: 20px;
    }
    .con .conHi div h5,.con .conHi div h5 b {
        font-size: 12px;
    }
    .con .conHi div a{
        font-size: 6.5px;
        margin-top: 5px;
        border: #001f40 solid 2px;
    }
    
    /* ABOUT ME */
    .con .conMe{
        height: 640px;
        width: 100%;
    }
    .con .conMe b{
        bottom: 75%;
        font-size: 18px;
    }
    .con .conMe img{
        width: 100px;
        height: 250px;
        left: 10%;
        object-position: center 20px;
    }
    .con .conMe .box div{
        left: 50%;
    }
    .con .conMe .box div span ,.con .conMe .box div p{
        font-size: 10PX;
        margin-left: 0px !important;
    }

    /* EDUCATION */
    .con .conEdu{
        height: 400px;
    }
    .con .conEdu h3{
        font-size: 20px;
        left: 60%;
        bottom: 85%;
    }
    .con .conEdu img{
        width: 40px;
        height: 40px;
    }
    .con .conEdu .box{
        margin: 20px 0;
    }
    .con .conEdu .box div b{
        font-size: 10px;
    }
    .con .conEdu .box div p{
        font-size: 8px;
    }

    /* SOP */
    .con .conSOP{
        height: 220px;
    }
    .con .conSOP b{
        font-size: 17px;
    }
    .con .conSOP a{
        font-size: 12px;
        padding: 0px 25px;
    }
    .con .conSOP a:hover{
        padding: 0px 40px;
    }
    .con .conSOP .boxEdg b{
        font-size: 17px;
    }
    .con .conSOP .boxEdg strong{
        font-size: 12PX;
    }
    .con .conSOP .boxEdg a{
        margin-top: 0px;
    }

    /* PORTFOLIO */
    .con .conPort{
        height: 660px;
    }
    .con .conPort b{
        font-size: 55px;
    }
    .con .conPort a{
        font-size: 13px;
    }

    /* COMMENT */
    .con .conCom div b{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .con .conCom div p{
        font-size: 10px;
    }
    .con .conCom div form p{
        font-size: 12px;
        font-weight: 700;
        color: black;
    }
    .con .conCom div form input[type="text"]{
        font-size: 12px;
        height: 27px;
    }
    .con .conCom div form textarea{
        font-size: 12px;
        height: 70px;
    }
    .con .conCom div form input[type="submit"]{
        font-size: 11px;
        height: 25px;
        border: solid 3px #001f40;
        margin-top: 10px;
    }
    .con .conCom div form .warning{
        font-size: 7.5px;
    }
    .con .conCom div{
        width: 270px;
    }

    /* CONCONTACT */
    .conContact .box_1 b{
        font-size: 15px;
    }
    .conContact .box_1 .text_1{
        font-size: 9px;
    }
    .conContact .box_1 .text_2{
        font-size: 3px;
    }
    .conContact .box_2 b{
        font-size: 10px;
    }
    .conContact .box_2 a{
        font-size: 5px;
    }
    .conContact .box_3 b{
        font-size: 10px;
    }
    .conContact .box_3 a{
        font-size: 5px;
    }
}

